[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "async-https-json-stream"]
	path = async-https-json-stream
	url = https://github.com/reklis/async-https-json-stream.git
[submodule "liboauthcpp"]
	path = liboauthcpp
	url = https://github.com/sirikata/liboauthcpp.git
[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
